textarea {
	resize: vertical;
	min-height: 30px;
	max-height: 150px;
}
div.loading-ctn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	width: 40%;
	z-index: 99;
}
div.form-ctn.loading {
	height: 500px
}
div.title { font-size: 150% }
div.description {
	text-align: center;
	margin: 24px 16px 8px
}

div#contact-page {
	background-image: url("/assets/studio-setup.jpeg");
	background-attachment: fixed;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc(100vh - 100px);
	padding: 8px 16px;
}
div.meta, div.form-ctn {
	width: 100%;
	max-width: 700px;
	margin: 16px auto;
	padding: 16px 8px;
	border-radius: 5px;
	background: #FFF;
	color: #000;
}
div.meta { font-size: 120% }
div.form-ctn {
	position: relative;
	transition: height .5s;
	& mat-form-field {
		display: block;
		margin: 8px 16px;
	}
	& button[type="submit"] {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}
