div.images-ctn {
	position: relative;
	display: flex;
	width: 100vw;
	flex-flow: row nowrap;
	& > div.column {
		display: flex;
		position: relative;
		height: max-content;
		flex-flow: column nowrap;
		overflow: hidden;
		& > img { width: 100% }
	}
}
