<div #imagesCtn class="images-ctn" *ngIf="images.length / 2 as splitIndex">
  <div #column1 class="column" [style.top]="calcColTop(imagesCtn.offsetHeight, column1.offsetHeight, windowRef())+'px'">
    <img *ngFor="let img of images.slice(0, splitIndex)" [src]="img.path" alt="Photo" />
  </div>
  <div #column2 class="column" [style.top]="calcColTop(imagesCtn.offsetHeight, column2.offsetHeight, windowRef())+'px'">
    <img *ngFor="let img of images.slice(splitIndex)" [src]="img.path" alt="Photo" />
  </div>
</div>
