div#home-page {
	background-image: url("/assets/jrp-bamboo-forest.jpg");
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
	mix-blend-mode: color;
	background-repeat: none;
	min-height: 130vh;
	position: absolute;
	object-position: 50% 50%;
	width: 100%;
	& > img.scroll-img {
		// height: 150vh;
		// width: 100%;
		// object-fit: cover;
	}
	& > img.mobile-img {
		position: fixed;
		pointer-events: none;
		z-index: -100;
		top: 0;
		height: 100vh;
		width: 100%;
		object-fit: cover;
	}
	& > div.page-1 {
		min-height: calc(100vh - 100px);
		& > div.title {
			position: relative;
			left: 50%;
			top: 36vh;
			width: 95vw;
			border-radius: 5px;
			transform: translateX(-50%);
			max-width: 550px;
			white-space: pre;
			display: flex;
			color: #000;
			background: #FFF;
			flex-wrap: wrap;
			justify-content: center;
			font-size: 7vh;
			font-weight: 900;
			mix-blend-mode: lighten;
			& > span { font-size: 200% }
			// @for $y from 0 through 230 {
			// 	&[data-scroll="#{$y}"] { top: #{36}vh }
			// }
		}
	}
	& > div.page-2 {
		position: absolute;
		color: #FFF;
		background: #0000007d;
    border-radius: 5px;
		text-align: center;
		bottom: 30vh;
		padding: 16px 8px;
		left: 50%;
		width: 95vw;
		max-width: 580px;
		transform: translateX(-50%);
		& > div.content-ctn {
			display: grid;
			column-gap: 4px;
			grid-template: 1fr / minmax(30px, 10%) 1fr minmax(30px, 10%);
			align-items: center;
			justify-content: center;
		}
		& > div.routes {
			margin-top: 16px;
			& > a {
				background-size: 100% 210%;
				background-image: linear-gradient(to bottom, #FFF 50%, #000 50%),
													linear-gradient(to bottom, #0000 50%, #FFF 50%);
				-webkit-background-clip: text, border-box;
				background-clip: text, border-box; 
				color: transparent; 
				transition: background-position .5s;
				margin: 4px;
				text-decoration: none;
				padding: 4px 8px;
				border: 1px solid #FFF;
				border-radius: 3px;
				font-weight: 400;
				&:hover { background-position: 0 101% }
			}
		}
	}
}
