<!-- <div id="home-page" [style.background-position]="'50% '+(-scrollY().float - 100)/2+'px'"> -->
<div id="home-page">
  <img class="scroll-img" *ngIf="!isMobile else mobileImg" src="/assets/jrp-bamboo-forest.jpg" [style.object-position]="'50% '+(scrollY().float - 100)/2+'px'"/>
  <ng-template #mobileImg>
    <img class="mobile-img" src="/assets/jrp-bamboo-forest.jpg"/>
  </ng-template>
  <div class="page-1">
    <div class="title">Hi, I'm <span>Josh</span></div>
  </div>
  <div class="page-2">
    <div class="content-ctn">
      <div class="content">I am a photographer based out of Salt Lake City, Utah. I specialize in lifestyle, portrait and commercial media.</div>
    </div>
    <div class="routes">
      <a routerLink="/portfolio">My Work</a>
      <a routerLink="/contact">Connect</a>
    </div>
  </div>
</div>
